In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [2]:
df=pd.read_csv("../transformed/stagedFinal.csv")

C:\Users\ERBDESKTOP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,22,25,27,29,32,34,36,38,39,40,41,42,43,44,45,47,48,49,50,51,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,83,84,85,88,89,90,91,93,94,95,96,98,99,100,101,102,105,106,108,109,110,112,113,114,116,117,120,121,122,123,127,129,130,132,133,138,149,150,152,158,160,166,172,173,174,175,176,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,254,256,257,258,259,260,261,262,263,264,266,269,271,272,273,275,277,279,280,281,282,283,284,287,297,299,300,301,302,303,304,305,306,307,308,312,317,318,319,320) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.dropna(axis=1,how="all",inplace=True)

In [7]:
df.head()

,id,customer_name,mobile_no,email,dob,gender,currentlocation,pincode,employ_type,company,turnover,companylocation,existingcard,damount,pan_card,aadhar_card,six_salaru_s,bank_state,ref,date_backup,baa,status,pancard_no,aadharcard_no,event_descrip,bank,earning,modified_date,date,approve_amount,approve_date,monthly_income,source_type,form_from,lifestyle,qualification,quote_file,policy_name,policy_issued,earn_percentage,cif_status,remark,namount,loan_type,middle_company,state,disbursed_bank,disbursed_date,disbursed_amount,lead_fullfillment,broker,other,existing,cap_aadhar,cap_rent_agreement,cap_passport,cap_licence,cap_voterid,cap_electricity,cap_postpaid,cap_landline,pop_index_bill,pop_electricity,pop_water_bill,passport_photo,exisitng_loan_doc,current_loan_repayment_statement,statement_of_accounts,sanction_letter,card_statement,proof_of_property,credit_card_front_copy,current_add_proof,eaadharcard,allocate_to,allocate_to_f_id,suggestedbank,suggested_amount,suggestedbankful,sanction_bank,sanction_date,sanction_amount,cif_receive,company_type,account_type,statement_bank,bankstatepass,check_eligibility,eligibility_reports,decision_reports,report_date,allocate_to_verification,lead_classification,login_bank,login_date,residence_proof_type,residence_proof,existing_doc_type,loan_purpose,aadharcardback,company_id,file_upload,appli_info,product,loan_property_city,decline_reason,loan_property_address,lppincode,lpstate,fresh_pop,lpvalue,propertydoc,foreclosure,SOA,ex_rate_interest,outstanding_principal_amt,ex_emi,bal_tenure,date_dis,market_value_property,other_doc_type,property_doc_type,s_monthyear,b_monthyear,login_appid,login_loanamt,login_tenure,login_roi,san_appid,san_tenure,san_roi,ds_tenure,ds_roi,ds_appid,ds_account,ds_amount,rej_appid,rej_loanamt,bankreject,pd_bank,pd_date,pd_earning,pd_amount,pdd_bank,pdd_appid,pdd_date,pdd_account,pdd_earning,pdd_amount,pdd_tenure,pdd_roi,banklegal,legal_appid,legal_loanamt,legal_tenure,f_loan_amount,nooldcard,rcbook,model,date_created,ownership,required_cover,family_floater,claim_type,insurance,marital_status,lifestyle2,existing_diseases,diseases,floater_name,floater_dob,floater_relation,floater_gender,floater_name2,floater_dob2,floater_gender2,floater_relation2,floater_name3,floater_dob3,floater_gender3,floater_relation3,floater_name4,floater_dob4,floater_gender4,floater_relation4,old_premium,new_premium,request_premium,existing_diseases1,existing_diseases2,existing_diseases3,existing_diseases4,existing_diseases5,existing_diseases6,diseases1,diseases2,diseases4,old_quote,pls_company,pls_plan_name,pls_broker,pls_amt,pls_date,pre_rcv_date,medical_done,policy_date,policy_company,policy_plan_name,policy_broker,policy_amt,tmp_file,tmp_lead_id,policy_type,deductible,profession,investment_amount,employment_type,payment_mode,policy_term,pay_type,addons,residence_address,father_name,mother_name,itrdoc,ip_bank,a_bank,br_creditlimit,existingcard_text,card_type,application_no
0,1,DAYALRAM SHERRAM KOTHARI,9594879082.0,nikhildevrajm@gmail.com,13-06-1973,Male,Mumbai,400053.0,Salaried,ABU JANI SANDEEP KHOSLA,400000.0,Mumbai,No,1000000.0,1PAN CARD.jpg,1AADHAR CARD.jpg,"1SALARY SLIP.pdf,1SILP.pdf,1SS.pdf",1BANK STATMENT.pdf,Balaji2,03/03/2020,04-03-2020 10:03,allocated,NaN,0.0,Interested in OD,NaN,NaN,2022-04-12 10:50:35,2020-03-03 00:00:00,NaN,NaN,NaN,Link,web,NaN,NaN,NaN,NaN,NaN,NaN,no,Not Required,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,naazneen.shaikh@finqy.ai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,259,Tridib Banerjee,9088443577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,ERB178,23-06-2020,NaN,allocated,NaN,0.0,NaN,NaN,0.0,2022-04-12 11:02:23,2020-06-23 00:00:00,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Self-Employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,naazneen.shaikh@finqy.ai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Bhawan singh,9716056616.0,singhbhanupratap90@yahoo.com,20/11/1990,Male,NaN,NaN,Salaried,Genpact india pvt.ltd,NaN,NaN,NaN,200000.0,NaN,NaN,NaN,NaN,PBD9,12/05/2020,NaN,allocated,NaN,0.0,Not Required,NaN,NaN,2022-04-12 10:50:35,2020-05-12 00:00:00,NaN,NaN,4.0,Self,web,Non Smoker,Non Smoker,NaN,NaN,NaN,NaN,no,Not Required,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,naazneen.shaikh@finqy.ai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,258,Sony George,9645595462.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,ERB178,23-06-2020,NaN,allocated,NaN,0.0,NaN,NaN,0.0,2022-04-12 10:57:35,2020-06-23 00:00:00,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Required,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,naazneen.shaikh@finqy.ai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,257,Hena Arya,8981697357.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,ERB178,23-06-2020,NaN,allocated,NaN,0.0,NaN,NaN,0.0,2022-04-12 11:00:01,2020-06-23 00:00:00,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switch Off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,naazneen.shaikh@finqy.ai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

id                                      0
customer_name                         335
mobile_no                            1469
email                               10174
dob                                  4474
gender                               9992
currentlocation                      9493
pincode                             10751
employ_type                         16350
company                             13020
turnover                            19715
companylocation                     19990
existingcard                        19300
damount                             15573
pan_card                            16475
aadhar_card                         16651
six_salaru_s                        17140
bank_state                          18397
ref                                    90
date_backup                         13182
baa                                 24610
status                               1004
pancard_no                          21468
aadharcard_no                        6513
event_descrip                       19426
bank                                24951
earning                             15494
modified_date                        8007
date                                 4247
approve_amount                      25293
approve_date                        24937
monthly_income                      14922
source_type                          9295
form_from                            9473
lifestyle                           23168
qualification                       23495
quote_file                          22702
policy_name                         25202
policy_issued                       25170
earn_percentage                     22161
cif_status                           9555
remark                              20534
namount                             25358
loan_type                           19456
middle_company                      25196
state                               13365
disbursed_bank                      24851
disbursed_date                      24842
disbursed_amount                    24622
lead_fullfillment                    4152
broker                              25223
other                               17973
existing                            18158
cap_aadhar                          21561
cap_rent_agreement                  21567
cap_passport                        21567
cap_licence                         21567
cap_voterid                         21567
cap_electricity                     21567
cap_postpaid                        21567
cap_landline                        21567
pop_index_bill                      21567
pop_electricity                     21566
pop_water_bill                      21567
passport_photo                      23732
exisitng_loan_doc                   25231
current_loan_repayment_statement    21567
statement_of_accounts               21567
sanction_letter                     21567
card_statement                      21567
proof_of_property                   25151
credit_card_front_copy              21567
current_add_proof                   24405
eaadharcard                         23917
allocate_to                         12592
allocate_to_f_id                    16995
suggestedbank                       23164
suggested_amount                    24963
suggestedbankful                    24989
sanction_bank                       24961
sanction_date                       24952
sanction_amount                     24987
cif_receive                         15237
company_type                        23266
account_type                        23647
statement_bank                      24028
bankstatepass                       25136
check_eligibility                   17006
eligibility_reports                 24884
decision_reports                    24800
report_date                         24790
allocate_to_verification            25177
lead_classification                 21159
login_bank                          16922
login_date                          25209
residence_proof_type                22433
residence_proof                     22456
existing_doc_type                   22433
loan_purpose                        24269
aadharcardback                      23960
company_id                          25342
file_upload                         25307
appli_info                          25300
product                                 0
loan_property_city                  24933
decline_reason                      25296
loan_property_address               25181
lppincode                           25096
lpstate                             25057
fresh_pop                           24948
lpvalue                             25356
propertydoc                         24845
foreclosure                         24845
SOA                                 24845
ex_rate_interest                    25330
outstanding_principal_amt           25327
ex_emi                              25329
bal_tenure                          25330
date_dis                            25332
market_value_property               25347
other_doc_type                      24828
property_doc_type                   24828
s_monthyear                         24828
b_monthyear                         24828
login_appid                         25243
login_loanamt                       25236
login_tenure                        25304
login_roi                           25311
san_appid                           25258
san_tenure                          25313
san_roi                             25314
ds_tenure                           25347
ds_roi                              25347
ds_appid                            25319
ds_account                          25320
ds_amount                           25304
rej_appid                           25336
rej_loanamt                         25328
bankreject                          25297
pd_bank                             25357
pd_date                             25356
pd_earning                          25357
pd_amount                           25357
pdd_bank                            25356
pdd_appid                           25358
pdd_date                            25356
pdd_account                         25358
pdd_earning                         25357
pdd_amount                          25357
pdd_tenure                          25358
pdd_roi                             25358
banklegal                           25358
legal_appid                         25358
legal_loanamt                       25358
legal_tenure                        25358
f_loan_amount                       25249
nooldcard                           25071
rcbook                              24909
model                               25313
date_created                        25333
ownership                           25094
required_cover                      23095
family_floater                      24166
claim_type                          23305
insurance                           25357
marital_status                      24427
lifestyle2                          23326
existing_diseases                   23038
diseases                            25154
floater_name                        24633
floater_dob                         24636
floater_relation                    24634
floater_gender                      24633
floater_name2                       24855
floater_dob2                        24855
floater_gender2                     24853
floater_relation2                   24854
floater_name3                       25082
floater_dob3                        25081
floater_gender3                     25082
floater_relation3                   25083
floater_name4                       25328
floater_dob4                        25328
floater_gender4                     25328
floater_relation4                   25328
old_premium                         25358
new_premium                         25358
request_premium                     22600
existing_diseases1                  23947
existing_diseases2                  23989
existing_diseases3                  24047
existing_diseases4                  24102
existing_diseases5                  24883
existing_diseases6                  24883
diseases1                           25330
diseases2                           25356
diseases4                           25358
old_quote                           24605
pls_company                         25356
pls_plan_name                       25355
pls_broker                          25355
pls_amt                             25355
pls_date                            25355
pre_rcv_date                        25319
medical_done                        25357
policy_date                         25235
policy_company                      25234
policy_plan_name                    25234
policy_broker                       25235
policy_amt                          25236
tmp_file                            22600
tmp_lead_id                         22600
policy_type                         24902
deductible                          25192
profession                          25341
investment_amount                   23326
employment_type                     25103
payment_mode                        25118
policy_term                         25187
pay_type                            25191
addons                              25232
residence_address                   25209
father_name                         25252
mother_name                         25252
itrdoc                              25073
ip_bank                             17452
a_bank                              17452
br_creditlimit                      25358
existingcard_text                   25338
card_type                           25338
application_no                      16817
dtype: int64

In [6]:
df.shape

(25359, 231)

In [8]:
personal=df[["customer_name","id","mobile_no","email","dob","gender","currentlocation","pincode","pancard_no","aadharcard_no","lifestyle","qualification"]]

In [10]:
personal.head()

,customer_name,id,mobile_no,email,dob,gender,currentlocation,pincode,pancard_no,aadharcard_no,lifestyle,qualification
0,DAYALRAM SHERRAM KOTHARI,1,9594879082.0,nikhildevrajm@gmail.com,13-06-1973,Male,Mumbai,400053.0,NaN,0.0,NaN,NaN
1,Tridib Banerjee,259,9088443577.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,Bhawan singh,3,9716056616.0,singhbhanupratap90@yahoo.com,20/11/1990,Male,NaN,NaN,NaN,0.0,Non Smoker,Non Smoker
3,Sony George,258,9645595462.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,Hena Arya,257,8981697357.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [11]:
personal.isnull().sum()

customer_name        335
id                     0
mobile_no           1469
email              10174
dob                 4474
gender              9992
currentlocation     9493
pincode            10751
pancard_no         21468
aadharcard_no       6513
lifestyle          23168
qualification      23495
dtype: int64

In [13]:
personal.shape

(25359, 12)

In [20]:
income=df[["employment_type","company", "turnover", "companylocation", "existingcard", "bank_state", "bank", "earning", "monthly_income", "exisitng_loan_doc"]]

In [26]:
income.head()

,employment_type,company,turnover,companylocation,existingcard,bank_state,bank,earning,monthly_income,exisitng_loan_doc
0,NaN,ABU JANI SANDEEP KHOSLA,400000.0,Mumbai,No,1BANK STATMENT.pdf,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,NaN,Genpact india pvt.ltd,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [18]:
product = df[["approve_amount", "loan_type", "policy_name", "policy_issued"]]

In [27]:
product.head()

   approve_amount loan_type policy_name policy_issued
0             NaN       NaN         NaN           NaN
1             NaN       NaN         NaN           NaN
2             NaN       NaN         NaN           NaN
3             NaN       NaN         NaN           NaN
4             NaN       NaN         NaN           NaN

In [23]:
misc = df[["ref", "status", "date", "baa", "modified_date"]]

In [28]:
misc.head()

,ref,status,date,baa,modified_date
0,Balaji2,allocated,2020-03-03 00:00:00,04-03-2020 10:03,2022-04-12 10:50:35
1,ERB178,allocated,2020-06-23 00:00:00,NaN,2022-04-12 11:02:23
2,PBD9,allocated,2020-05-12 00:00:00,NaN,2022-04-12 10:50:35
3,ERB178,allocated,2020-06-23 00:00:00,NaN,2022-04-12 10:57:35
4,ERB178,allocated,2020-06-23 00:00:00,NaN,2022-04-12 11:00:01

In [39]:
cm_df = pd.concat([personal, income, product, misc], axis=1)
cm_df.head()

,customer_name,id,mobile_no,email,dob,gender,currentlocation,pincode,pancard_no,aadharcard_no,lifestyle,qualification,employment_type,company,turnover,companylocation,existingcard,bank_state,bank,earning,monthly_income,exisitng_loan_doc,approve_amount,loan_type,policy_name,policy_issued,ref,status,date,baa,modified_date
0,DAYALRAM SHERRAM KOTHARI,1,9594879082.0,nikhildevrajm@gmail.com,13-06-1973,Male,Mumbai,400053.0,NaN,0.0,NaN,NaN,NaN,ABU JANI SANDEEP KHOSLA,400000.0,Mumbai,No,1BANK STATMENT.pdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Balaji2,allocated,2020-03-03 00:00:00,04-03-2020 10:03,2022-04-12 10:50:35
1,Tridib Banerjee,259,9088443577.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,ERB178,allocated,2020-06-23 00:00:00,NaN,2022-04-12 11:02:23
2,Bhawan singh,3,9716056616.0,singhbhanupratap90@yahoo.com,20/11/1990,Male,NaN,NaN,NaN,0.0,Non Smoker,Non Smoker,NaN,Genpact india pvt.ltd,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,PBD9,allocated,2020-05-12 00:00:00,NaN,2022-04-12 10:50:35
3,Sony George,258,9645595462.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,ERB178,allocated,2020-06-23 00:00:00,NaN,2022-04-12 10:57:35
4,Hena Arya,257,8981697357.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,ERB178,allocated,2020-06-23 00:00:00,NaN,2022-04-12 11:00:01

In [41]:
cm_df.isnull().sum()

customer_name          335
id                       0
mobile_no             1469
email                10174
dob                   4474
gender                9992
currentlocation       9493
pincode              10751
pancard_no           21468
aadharcard_no         6513
lifestyle            23168
qualification        23495
employment_type      25103
company              13020
turnover             19715
companylocation      19990
existingcard         19300
bank_state           18397
bank                 24951
earning              15494
monthly_income       14922
exisitng_loan_doc    25231
approve_amount       25293
loan_type            19456
policy_name          25202
policy_issued        25170
ref                     90
status                1004
date                  4247
baa                  24610
modified_date         8007
dtype: int64